body {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: cursive, sans-serif;
}

h1 {
    font-family: Monoton;
    color: yellowgreen;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 2px solid black;
    gap: 3px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(62, 69, 76);
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

/*  resource used https://www.youtube.com/watch?v=wZZyhrJxZRU on 4/17/22
    resource used https://www.youtube.com/watch?v=OtSiwcq67j4 on 4/18/22
    w3 schools was reviewed for a few things for css, javascript and jquery link below
    resource used https://www.w3schools.com/jquery/default.asp on 4/19/22 */
